@page "/"

@*<div class="rv-flex rv-flex-column" style="height: 100vh; width: 100%">
  <div class="rv-flex rv-flex-row rv-flex-row-1">
    <div class="rv-flex rv-flex-col-1 rv-flex-row-1 rv-flex-center rv-flex-justify-content-center rv-flex-33" style="background-color: blue;">1</div>
    <div class="rv-flex rv-flex-wrap rv-flex-row-2" style="background-color: pink;">
        <div class="rv-flex rv-flex-col-1 rv-flex-row-1 rv-flex-50 rv-flex-center rv-flex-justify-content-center" style="background-color: pink;">2</div>
        <div class="rv-flex rv-flex-col-1 rv-flex-row-1 rv-flex-50 rv-flex-center rv-flex-justify-content-center" style="background-color: pink;">3</div>
        <div class="rv-flex rv-flex-col-1 rv-flex-row-1 rv-flex-50 rv-flex-center rv-flex-justify-content-center" style="background-color: pink;">4</div>
        <div class="rv-flex rv-flex-col-1 rv-flex-row-1 rv-flex-50 rv-flex-center rv-flex-justify-content-center" style="background-color: pink;">5</div>
        <div class="rv-flex rv-flex-col-1 rv-flex-row-1 rv-flex-50 rv-flex-center rv-flex-justify-content-center" style="background-color: pink;">6</div>
        <div class="rv-flex rv-flex-col-1 rv-flex-row-1 rv-flex-50 rv-flex-center rv-flex-justify-content-center" style="background-color: pink;">7</div>
    </div>
  </div>
  <div class="rv-flex rv-flex-row rv-flex-row-1">
    <div class="rv-flex rv-flex-col-1 rv-flex-row-1 rv-flex-center rv-flex-justify-content-center" style="background-color: orange;">8</div>
    <div class="rv-flex rv-flex-col-1 rv-flex-row-1 rv-flex-center rv-flex-justify-content-center" style="background-color: orange;">9</div>
  </div>
</div>*@

<div class="main-container rv-flex rv-flex-column">

    <div class="first-row rv-flex rv-flex-row rv-flex-col-1">
        <div class="azure-main-container rv-flex rv-flex-center rv-flex-33">
            1
        </div>

        <div class="rv-flex rv-flex-column rv-flex-col-1">

            <div class="pink-sub-container rv-flex rv-flex-row rv-flex-col-1">
                <div class="pink-item rv-flex rv-flex-center">2</div>
                <div class="pink-item rv-flex rv-flex-center">3</div>
            </div>

            <div class="pink-sub-container rv-flex rv-flex-row rv-flex-col-1">
                <div class="pink-item rv-flex rv-flex-center">4</div>
                <div class="pink-item rv-flex rv-flex-center">5</div>
            </div>

            <div class="pink-sub-container rv-flex rv-flex-row rv-flex-col-1">
                <div class="pink-item rv-flex rv-flex-center">6</div>
                <div class="pink-item rv-flex rv-flex-center">7</div>
            </div>

        </div>

    </div>

    <div class="rv-flex rv-flex-row rv-flex-col-1">
        <div class="orange-row-item rv-flex rv-flex-center">8</div>
        <div class="orange-row-item rv-flex rv-flex-center">9</div>
    </div>

</div>