@using ResultViewer.Client.Core.Components.NavMenu
@inherits LayoutComponentBase

<div class="page rv-flex rv-flex-column">
    <div>
        <NavMenu />
    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
