@page "/"
@using FolderAndFilePicker.Core.Components.PickFile
@using FolderAndFilePicker.Core.Components.PickFolder
@using FolderAndFilePicker.Core.Components.SaveFile

<h1>Hello, world!</h1>

<PickFolder/>
<PickFile/>
<SaveFile/>